:root {
    --primary-color: #E36414;
    /* safety orange*/
    --secondary-color: black;
    /* misty blue */
    --accent1-color: #0F4C5C;
    /* deep teal */
    --accent2-color: #F6BD60;
    /* warm sand yellow*/
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Source Sans Pro", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 15px;
    align-items: center;
    background-color: white;
    color: var(--accent2-color);
}

header,
main,
footer {
    width: 100%;
}

section {
    margin: 16px 0;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

.logo {
    place-self: center;
    width: 150px;
    height: auto;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    list-style: none;
    max-width: 900px;

}

nav a {
    font-family: var(--heading-font);
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: var(--primary-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #fff; /* white text*/
}

h2 {
    width: 100%;
    padding: 16px;
    margin: 10px 0;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;
    font-size: 1.5rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 30px;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    height: 120px;
    bottom: 30px;
    left: 15px;
    right: 15px;
    opacity: 0.9;
    background-color: var(--accent2-color);
    color: var(--secondary-color)
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.history {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    align-items: center;
}

.history h2 {
    grid-column: 1/4;
}

.history p {
    text-align: justify;
}

.history img {
    grid-column: 2/3;
    width: 100%;
    height: auto;
    place-items: center;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    align-items: center;
}

.adventure h2 {
    grid-column: 1/-1;
}

.adventure img {
    width: 200px;
    height: auto;
}
figcaption {
    place-self: center;
    padding: 4px 0;
    font-weight: bold;
}

figcaption:hover {
    color: var(--primary-color);
}

footer {
    display: flex;
    justify-content: center;
}