* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: lightgoldenrodyellow;
    padding: 10px;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
    padding: 1rem;
}

aside {
    width: 500px;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 120px;
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
    color: lightcoral;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px grey;
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid rgb(0 0 0 /0.4);
    text-align: center;
    background-color: lightgoldenrodyellow;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: lightcoral;
    color: #000;
}

.right-space {
    padding: 2rem;
}